body{
  background-color: aqua;
}

.container{
  background-color: aliceblue;
}

.head{
  color: red;
  text-align: center;
  font-size: 20 px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-style: dashed;
  
}
.para{
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  word-spacing: 30;
  letter-spacing: 200;
  text-shadow: 3px 4px 5px blueviolet;
}
.wrapper{
  background-color: brown;
  color: aliceblue;
  padding: 20px;
  
}