body{
  background-color: aqua;
}

.container{
  background-color: aliceblue;
}

.head{
  color: red;
  text-align: center;
  font-size: 20 px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-style: dashed;
  
}
.para{
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  word-spacing: 30;
  letter-spacing: 200;
  text-shadow: 3px 4px 5px blueviolet;
}
.wrapper{
  background-color: brown;
  color: aliceblue;
  padding: 20px;
  
}
.wrapper1{
  background-color: blue;
  color: aquamarine;
  padding: 20px;
  /*margin-top: 20px;*/
  margin: 30px;
  border-bottom-left-radius: 13px solid green;
  /*border-radius: 30px;*/
  /*border-bottom-left-radius: 30px;*/
  box-shadow: 3px 4px 6px 7px black;
}
.parent{
  display: flex;
}
h1{
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}