.kuki{
display: flex;
padding: 20px;
margin: 50px;

}

.twitter{
border: solid 2px black;
margin: 30px;
text-align: center;



}

.youtube{
border: solid 2px black;
margin: 30px;
text-align: center;

}

.instagram{
  border: solid 2px black;
  margin: 30px;
text-align: center;


}
button{
 background-color: black;
 color: white;
 border-radius: 30px;
 width: 80%;

}
img{
  height: 30%;
 
}