body{
margin: 0;
}
.navbar{
 background-color: aqua;
 display: flex;
 align-items: center;
 position: fixed;
 width: 100%;
}
.navbar ul{
 display: flex;
 gap: 30px;
 list-style: none;
}
.hero{
  height: 150vh;
  background-image: url(penguin.avif);
  background-size: cover;
  background-position: center;
}
.panda{
background-image: url(panda.avif);
height: 100vh;
background-size: cover;
background-position: center;

}
