body{
 margin: 0;
 padding: 0;
 
}
.parent{
display: flex;
 background-color: white;
 color: black;
 width: 100%;
 gap: 500px;
 width: 500px;
 align-items: center;
 
 
}
.parent input{
  padding: 15px 140px;
  border-radius: 50px;
  
}
h1{
 color: brown;
  font-family: cursive;
  margin-left: 80px;
}
.image{

}

.list{
margin-left: 50px;
list-style: none;
display: flex;
gap: 80px;
}
.i{
 size: 100px;
}
.i1{
 height: 100vh;
 background-position: center;
}
.image{
  size: cover;
  font-size: xx-large;
  text-align: center;
}
p{
font-size: larger;
text-align: center;
}
.product{
  display: flex;
}
 .parah{
 line-height: 2px;
}

.cell{
 display: flex;
 justify-content: space-evenly;
}

#p1{
  text-transform: capitalize;
  align-items: center;
  }
 
  #p2{
   text-transform: capitalize;
   align-items: center;
   }
   
   #p3{
       text-transform: capitalize;
       align-items: center;
     }
 
  #p4{
       text-transform: capitalize;
       align-items: center;
       }
 

.product{
  padding-top: 100px;
}
 .d1{
 padding-left: 200px;
 margin-right: 20px;
  }
 .d2{ 
  padding-right: 200px;
 }

 .cc{
  font-size: xx-large;
  text-align: center;
  line-height: 20px;
  text-transform: capitalize;
  
 }
 #pp1{
 text-transform: lowercase;
 }
 